[submodule "RentalDjango"]
	path = RentalDjango
	url = https://github.com/shitikovkirill/RentalDjango.git
[submodule "RentalEmber"]
	path = RentalEmber
	url = https://github.com/shitikovkirill/RentalEmber.git
