{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        <p class="alert-warning">
            {{ message|raw }}
        </p>
    </div>
    <div class="row">
        {{ trace|raw }}
    </div>
{% endblock %}