[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Type=idle
User=vagrant
Group=vagrant
Restart=always
RestartSec=30
StartLimitIntervalSec=30
StartLimitBurst=30
Environment=DATABASE_URL=sqlite:///db.sqlite
WorkingDirectory=/vagrant/RentalDjango
ReadWriteDirectories=/vagrant/RentalDjango
ExecStart=/home/vagrant/.virtualenvs/RentalDjango/bin/gunicorn --bind 0.0.0.0:8001 rental_project.wsgi:application

[Install]
WantedBy=multi-user.target