{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        <p>Необходимо, на чистом PHP, реализовать публичный мини-блог,  в котором любой гость может
            создавать записи, а другие гости имеют право комментировать записи. Авторизация не нужна.</p>
        <p>В функционале обязаны присутствовать две страницы: список последних записей и одна запись.</p>
        <p>На странице списка последних записей выводится слайдер “популярное” из 5 самых коментируемых
            записей. Ниже - записи в порядке давности публикации, которые должны содержать имя автора,
            короткий текст публикации(обрезка 100 символов), дату публикации, количество комментариев и
            ссылку для перехода на полную запись. Так же на этой странице должна находиться форма для
            отправки публикации, в которой указываются имя пользователя и текст публикации.</p>

        <p>На странице полной публикации выводится всё то же, что и в короткой публикации,
            только текст публикации должен быть полным, а так же комментарии к этой публикации и
            форма добавления нового комментария в котором указывается имя автора и текст публикации.</p>

        <p>Выбор способа хранения информации и визуальной составляющей на усмотрение кандидата.</p>

        <p>Предоставить задание в открытом репозитории, с доступной документацией по установке и настройке.</p>

        <p>Срок выполнения 5 дней.</p>
    </div>
{% endblock %}